APScheduler
aiohttp
alembic
beautifulsoup4
black
blinker
boto3
colorama
colorlog
configparser
cryptography
customtkinter
discord.py
docker
dotenv
DrissionPage
fastapi
flake8
Flask
Flask-SocketIO
flask-cors
flask-login
flask-migrate
flask-sqlalchemy
gitpython
google-cloud-storage
grafana-api
gunicorn
hashlib
itsdangerous
Jinja2
joblib
json
kubernetes
loguru
lxml
matplotlib
memory-profiler
mitmproxy
multiprocessing
mypy
numpy
opencv-python
os
packaging
pandas
pathlib
pickle
pickle5
Pillow
pillow
platform
playwright
plotly
prometheus-client
psutil
pygobject
pyinstaller
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
pytest
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-telegram-bot
pythonmonkey
pytz
pywin32
PyYAML
redis
requests
rich
scikit-learn
scipy
seaborn
selenium
selenium-wire
semver
shutil
slack-sdk
socket
speedtest
sphinx
sphinx-rtd-theme
sqlalchemy
sqlite3
ssl
sys
ta-lib
telegram-bot
tensorflow
threading
tk
urllib
uvicorn
waitress
watchdog
webdriver-manager
websocket-client
websockets
Werkzeug
yfinance
